@use 'variables' as *;
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background-color: $primario;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
}
p{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: $blanco;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3{
    text-align: center;
    color: $secundario;
    font-family: $fuentePrincipal;
}
h1{
    font-size: 4rem;
    font-weight: normal;
}
h2{
    font-size: 3.2;
}
h3{
    font-size: 2.4;
}