@use '../base/variables' as *;
.footer{
    background-color: $primarioOscuro;
    padding: 1rem 0;
    margin-top: 2rem;
    .texto{
        font-family: $fuentePrincipal;
        text-align: center;
        font-size: 2.2rem;
    }
}