@use '../base/variables' as *;
.camisa{
    padding: 1rem;
    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        padding: 2rem;
    }
}
.formulario{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    .campo{
        border-color: $primarioOscuro;
        border-width: 1rem;
        border-style: solid;
        background-color: transparent;
        color: $blanco;
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        padding: 1rem;
        appearance: none;
    }
    .submit{
        background-color: $secundario;
        border: none;
        font-size: 2rem;
        font-family: $fuentePrincipal;
        padding: 2rem;
        transition: background-color .3s ease;
        grid-column: 1/3;
        &:hover{
            cursor: pointer;
            background-color: $secundarioOscuro;
        }
    }
 }
